<!DOCTYPE html>
<html>
  <head>
    <title>Prostate Cancer Detection</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/index.js"></script>
  </head>
  <body>
    <div class="App">
      <header class="App-header">
        <div id="back" style="display: none"></div>
        <p><u> Prostate Cancer Detection </u></p>
        <!--<video width="320" height="240" controls>
          <source src="/static/video_1.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>-->
        <!-- <button name="cam" class="button" id="opencam">Video Cam</button>
          <br/>
          <hr class="line" /> -->
        <form>
          <input
            id="imageinput"
            type="file"
            name="image"
            onchange="readUrl(this)"
          />
        </form>
        <button name="send" class="button" id="sendbutton">Detect</button>

        <!-- <div className="pre_img" id="show" style="display: none;">
          <span><img id="imagebox" src="" /></span>
        </div>
        <div className="pre_img" id="show1" style="display: none;">
          <span>
            <video id="videobox" width="800" height="600" controls>
              <source src="" tpye="">
            </video>
          </span>
        </div> -->

        <div id="link">
          <a href="" id="download" download>Download</a>
        </div>
        <div id="spinner" style="display: none">
          <img
            src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif"
            alt="Loading"
          />
        </div>
        <br />
      </header>
    </div>
  </body>
</html>
